@charset "utf-8";
#header #photoShow {
	width:764px;
	height:161px;
	padding-bottom:1px;
}

#photoShow div {
	position:absolute;
	z-index: 0;
	right: 5px;
	
}

#photoShow div.previous {
    z-index: 1;
}

#photoShow div.current {
    z-index: 2;
}
#home_flash {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
