@charset "utf-8";
body  {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #333;
	background-color: #f0efef;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

a {
	color: #616d33;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#flash {
	float: right;
	height: 250px;
	width: 150px;
	margin-right: 38px;
	margin-top: 16px;
}

#container  {
	width: 1000px; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	background-image: url(../_images/general/containerBack.png);
	background-repeat: repeat-y;
	overflow: hidden;
} 
#header  {
	background-color: #FFF;
	padding-top: 5px;
	padding-left: 5px;
	position: relative;
	margin-right: 20px;
	margin-left: 20px;
}

#header #logo{
	height: 50px;

}

#header #languages {
	background-color: #FFF;
	color: #616d33;
	text-align: right;
	height: 17px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 0px;
	font-size: 0.9em;
}

#header #mainNav {
	background-color: #616D33;
	color: #FFF;
	height:31px;
	margin-right: 5px;
	background-image: url(../_images/construction/banner/mainNavShadow.png);
	background-repeat: repeat-x;
	background-position: top;
}
#sidebar  {
	float: left;
	width: 165px;
	margin-left: 25px;
}

ul.subNav{
	margin: 0px;
	padding: 0px;
	float: left;
	list-style:none;
}


#sidebar .subNav p{
	margin: 0px;
	width:185px;
	font-size: .9em;
}

#sidebar .subNav p a{
	background-color: #9eb279;
	padding-left:5px;
	display: block;
	color: #FFF;
	font-size: 0.88em;
	line-height: 2em;
	border-top:solid 1px #FFF;
	text-decoration:none;
	padding-left:5px;
	
}

#sidebar .subNav p a:hover{
	color:#333;
	background-color:#E1E1C4;
	padding-left:7px;
	background-image: url(../_images/construction/arrows1.jpg);
	background-repeat: no-repeat;
	background-position: left;
}

#sidebar .subNav p a.current, #sidebar .subNav p a.current:hover, #sidebar .subNav p a.current:active{
	background-color:#F8F8F8;
	cursor:default;
	color:#333;
	padding-left:15px;
	background-repeat: no-repeat;
	background-image: url(../_images/construction/arrows1.jpg);
	background-position: left;
}

ul.groupNav{
	margin: 0px;
	padding: 0px;
	float: left;
	list-style:none;
}

ul.groupNav li{
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
}

ul.groupNav li a{
	display: block;
	background-color: #F8F8F8;
	color: #333;
	font-size: 0.9em;
	line-height: 1em;
	width:145px;
/*	border-top:solid 1px #FFF;*/
	text-decoration:none;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
}


ul.groupNav li a.contructionSA{
	color: #333;
	background-image: url(../_images/sidebar/link1.png);
	background-repeat: no-repeat;
	text-align: right;
}

ul.groupNav li a.consultants{
	color: #333;
	background-image: url(../_images/sidebar/link4.png);
	background-repeat: no-repeat;
	text-align: right;
	cursor:default;
}

ul.groupNav li a.properties{
	color: #333;
	background-image: url(../_images/sidebar/link3.png);
	background-repeat: no-repeat;
	text-align: right;
	cursor:default;
}

ul.groupNav li a:hover{
	color:#333;
	background-color:#F0EFEF;
}

ul.groupNav li a.current, ul.groupNav li a.current:hover, ul.groupNav li a.current:active{
	background:#333;
	cursor:default;
	color:#fff;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1em;
	font-weight: bold;
	padding-right: 0px;
	padding-left: 0px;
	width: 185px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
}

#mainContent  {
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 210px;
}

#mainContent  #contentTitle{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333;
	width: 566px;
	text-align:right;
	padding-right:15px;
	padding-top: 43px;
}
#mainContent  #contentTitle h1{
	font-size: 22px;
	color: #333;
	margin: 0px;
	padding: 0px;
}

#mainContent  #content{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #fff;
	width: 541px;
	text-align:left;
	background-color: #F0EFEF;
	margin-top:10px;
	padding:5px 20px;
}

#mainContent  #content p{
	font-size: 0.9em;
	line-height:1.3em;
}

#mainContent  #content p.photoText{
	background-image: url(../_images/projects/image_back.png);
	background-repeat: repeat-y;
}

/*Για τα έργα που δεν υπάρχουν εικόνες*/
#mainContent #content  p.text {
	padding-left: 140px;
	background-image: none;
}


#mainContent  #content img{
	border-top-width: 5px;
	border-right-width: 5px;
	border-bottom-width: 10px;
	border-left-width: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
	margin-right: 20px;
	margin-left: 10px;
}
#content li a {
	color: #333;
}


#footer  {
	background-color: #FFF;
	padding-top: 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 20px;
} 

#footer p {
	background-color: #FFF;
	padding-top: 5;
	padding-right: 5px;
	padding-bottom: 10px;
	font-size: 0.7em;
	text-align: right;
}

#footer p a{
	color:#333	
}


.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
