@charset "utf-8";

/*---------------------------------------------------------*/
/*                   Global CSS Defaults                   */
/*---------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	background: transparent;
	outline:none;
}


ol, ul {
	list-style: none;
}

body  {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #333;
	background-color: #f0efef;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

a {
	color: #595A5A;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#flash {
	float: right;
	height: 250px;
	width: 150px;
	margin-right: 38px;
	margin-top: 16px;
}

#container  {
	width: 1000px; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
	background-image: url(../../_images/intekkat/mainContent/containerBack.png);
	background-repeat: repeat-y;
	overflow: hidden;
	/*background-image: url(../../_images/intekkat/IntekkatContainerBack.png);*/	
} 
#header  {
/*	background-color: #FFF;*/
	padding-top: 5px;
	padding-left: 5px;
	position: relative;
	margin-right: 20px;
	margin-left: 20px;
}

#header #logo{
	height: 50px;

}

#header #languages {
	/*	background-color: #FFF;*/
	background-image:url(../../_images/intekkat/banner/lineUp.png);
	color:#595A5A;
	text-align: right;
	height: 17px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 15px;
	font-size: 0.9em;
	background-repeat: no-repeat;
	background-position: left bottom;
}

#header #mainNav {
	background-color: #616D33;
	color: #FFF;
	height:31px;
	margin-right: 5px;
	background-image: url(../_images/construction/banner/mainNavShadow.png);
	background-repeat: repeat-x;
	background-position: top;
}

ul.subNav{
	margin: 0px;
	padding: 0px;
	float: left;
	list-style:none;
}

#sidebarLeft  {
	width: 185px;
	color:#FFF;
	margin-left: 25px;
	float:left;
	font-size: 0.9em;
}

ul.MenuBarVertical li a.current, ul.MenuBarVertical li a.current:hover, ul.MenuBarVertical li a.current:active{
/*	margin-top:30px;*/
	background: #e3e3e3;
	cursor:default;
	color: #333;
}

ul.groupNav{
	margin: 0px;
	padding: 0px;
	list-style:none;
}

ul.groupNav li{
	margin: 0px;
	padding: 0px;
	border-top:solid 1px #FFF;
}

ul.groupNav li a{
	display: block;
	background-color: #F8F8F8;
	color: #333;
	font-size: 0.9em;
	line-height: 1em;
	width:155px;
	border-top:solid 1px #FFF;
	text-decoration:none;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 20px;
	border:	none;
}


ul.groupNav li a.contructionSA{
	color: #333;
	background-image: url(../../_images/intekkat/sidebarLeft/link1.png);
	background-repeat: no-repeat;
	text-align: right;
}

ul.groupNav li a.consultants{
	color: #333;
	background-image: url(../../_images/intekkat/sidebarLeft/link4.png);
	background-repeat: no-repeat;
	text-align: right;
	cursor:default;
}

ul.groupNav li a.properties{
	color: #333;
	background-image: url(../../_images/intekkat/sidebarLeft/link3.png);
	background-repeat: no-repeat;
	text-align: right;
}

ul.groupNav li a:hover{
	color:#333;
	background-color:#F0EFEF;
}

ul.groupNav li a.current, ul.groupNav li a.current:hover, ul.groupNav li a.current:active{
/*	margin-top:30px;*/
	background:#333;
	cursor:default;
	color:#fff;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 1em;
	font-weight: bold;
	padding-right: 0px;
	padding-left: 0px;
	width: 185px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
}

#mainContent  {
	width:578px;
	margin-left: 1px;
	float:left;
	min-height:160px;
	/*background-image:	url(../../_images/intekkat/content/content-stripes.png);*/
	background-repeat: repeat-x;
	min-height:568px;
	
}



#mainContent #content-paper{
	margin-top:1px;
	/*background:  transparent url(../../_images/intekkat/mainContent/side-start.png) no-repeat left top;*/

}

#mainContent #content-paper .wrap{
  /*background: transparent url(../../_images/intekkat/mainContent/side-bg.png) no-repeat right top;*/
  margin-left: 32px;
  padding: 20px 46px 0 10px;
  display: block;
  min-height: 350px;

}
#mainContent h1    {
	color: #666;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	margin-right: 30px;
	margin-left: 30px;
}
#mainContent a {
	color: #B6B6B6;
}

#mainContent p {
	padding-top: 20px;
}

#mainContent ul {
	padding-left: 2em;
}

#mainContent ul li {
	font-size: 0.85em;
	list-style-type: disc;
}
	
#mainContent .current {
	text-decoration: none;
	cursor:default;
}


#sidebarRight  {
	width: 175px;
	margin-left: 800px;
	color: #FFFFE6;
	background-image:url(../../_images/intekkat/sidebarRight/sidebarRight-btm.jpg);
}

#sidebarRightTemp1  {
	width: 185px;
	margin-left: 790px;
	font-size: 0.9em;
}

#sidebarRightTemp2  {
	width: 176px;
	margin-left: 799px;
	background-image:	url(../../_images/intekkat/content/content-stripes.png);
	background-repeat: repeat-x;
	min-height:568px;
}

#sidebarRight .wrap{
	background-image: url(../../_images/intekkat/sidebarRight/sidebarRight-bg.jpg);
	padding-right: 5px;
	padding-left: 5px;
	min-height: 386px;
	background-repeat: no-repeat;
}
#sidebarRight h1 {
	font-size: 1.3em;
	color: #FFF;
	margin-bottom: 2em;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	padding-top: 15px;
	margin-left:10px;
	margin-right:10px;
}
#sidebarRight ul h3 {
	font-size: 0.7em;
	color: #FFF;
	font-weight: bolder;
}


#sidebarRight ul {
/*	list-style: disc;
	padding-left:12px;
*/
	padding-bottom: 2.1em;
}
#sidebarRight li {
	margin-bottom: 0.6em;
	font-size: .9em;
}




#footer  {
/*	background-color: #FFF;*/
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 20px;
} 

#footer p {
/*	background-color: #FFF;*/
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	font-size: 0.7em;
	text-align: right;
}

#footer p a{
	color:#333	
}


.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0px;
    font-size: 1px;
    line-height: 0px;
}
#mainContent h3 {
	color: #41759D;
}
